# LIST

In [9]:
few=["hello",25,87.25,"bye",564]
print(few)

['hello', 25, 87.25, 'bye', 564]

In [10]:
few.append("studying")
print(few)

['hello', 25, 87.25, 'bye', 564, 'studying']

In [11]:
few.insert(0,"i am first")
print(few)

['i am first', 'hello', 25, 87.25, 'bye', 564, 'studying']

In [13]:
few.reverse()
print(few)

['studying', 564, 'bye', 87.25, 25, 'hello', 'i am first']

In [14]:
few.remove("hello")
print(few)

['studying', 564, 'bye', 87.25, 25, 'i am first']

In [18]:
few.index(87.25)

3

# TUPLE

In [20]:
Tup=("hurricane",6,66,76,6,"deepan",6)
Tup.count(6)

3

In [22]:
Tup.index("deepan")

5

# SET

In [3]:
vege={"tomato","potato","brinjal","ladysfinger"}
fruits={"orange","apple","banana","pine apple","jack fruit","lemon"}
vege=vege.union(fruits)
vege

{'apple',
 'banana',
 'brinjal',
 'jack fruit',
 'ladysfinger',
 'lemon',
 'orange',
 'pine apple',
 'potato',
 'tomato'}

In [4]:
vege.issuperset(fruits)

True

In [5]:
vege.isdisjoint(fruits)

False

In [6]:
vege.intersection(fruits)

{'apple', 'banana', 'jack fruit', 'lemon', 'orange', 'pine apple'}

In [15]:
vege.discard("banana")
vege

{'apple',
 'brinjal',
 'jack fruit',
 'ladysfinger',
 'lemon',
 'orange',
 'pine apple',
 'potato',
 'tomato'}

In [21]:
vege.add("pomegranate")
vege

{'apple',
 'brinjal',
 'jack fruit',
 'ladysfinger',
 'lemon',
 'orange',
 'pine apple',
 'pomegranate',
 'pomegrante',
 'potato',
 'tomato'}

# DICT

In [84]:
names = {1:"aravind",2:"raja",3:"deepan"}
names1= {0:"surya",9:"jana",8:"karthi"}
listt={"names":names,"names1":names1}
listt

{'names': {1: 'aravind', 2: 'raja', 3: 'deepan'},
 'names1': {0: 'surya', 9: 'jana', 8: 'karthi'}}

In [85]:
names.values()

dict_values(['aravind', 'raja', 'deepan'])

In [86]:
names1.get(8)

'karthi'

In [87]:
names.pop(1)
names

{2: 'raja', 3: 'deepan'}

In [88]:
names1.clear()
names1

{}

In [95]:
names1.update({"white":"black"})
names1

{'white': 'black'}

# STRINGS

In [103]:
han="hi guys , i am trying to learn python"
han.isnumeric()

False

In [104]:
han.count("i")

3

In [105]:
han.casefold()

'hi guys , i am trying to learn python'

In [107]:
han.capitalize()

'Hi guys , i am trying to learn python'

In [112]:
han.upper()

'HI GUYS , I AM TRYING TO LEARN PYTHON'